include /inc/mixins/_mixins
doctype html
html
  head
    block config
      include /inc/_settings.pug

    meta(charset='UTF-8')
    //- サイトのタイトル
    block title
      if typeof config.pages[current.id] !== "undefined"
        if current.title
          title= current.title + config.site.titleSeparator + config.site.title
        else if current.id !== "top"
          title= getPagesValue(current.id, "title") + config.site.titleSeparator + config.site.title
        else
          title= getPagesValue(current.id, "title")
    //- メタ情報
    block meta
      -
        var desc = false
        if (current.description) {
          desc = current.description
        } else if ( getPagesValue(current.id, "description") ) {
          desc = getPagesValue(current.id, "description")
        } else {
          desc = config.site.description
        }
      meta(name='description', content=desc)
      meta(name="viewport", content=config.site.viewport)

    //- OGP
    block meta_ogp
      meta(property="og:locale", content=config.site.ogp.locale)
      meta(property="og:type",content=config.site.ogp.type)
      meta(property="og:title", content=getPagesValue(current.id, "title"))
      meta(property="og:description", content=getPagesValue(id, "description") )
      meta(property="og:url", content=config.site.ogp.url + "/" + current.id + "/")
      meta(property="og:site_name", content=config.site.ogp.site_name)
      meta(property="og:image", content=config.site.ogp.image)

    //- リンクファイル
    block link
      link(rel='icon', href=config.favicon)
      link(rel='shortcut icon', href=config.favicon)
      link(rel='apple-touch-icon', href=config["apple-touch-icon"])


    //- スタイルシート
    block stylesheet
      +link("/assets/css/style.css")(rel="stylesheet")

    //- ヘッダーに組み込むスクリプト
    block head_script

  body(class!=current.bodyClass)

    //- スマホメニューのボタン
    a(href="#").slidebar-button.js-slidebar-button
      i.fa.fa-bars
      span メニュー


    .slidebar-menu.js-slidebar-menu
      ul
        each item in config.pages
          li
            +a("/" + item.name + "/")= item.title

    //- スマホメニュー用のコンテナ
    .slidebar-container.js-slidebar-container
      //- ヘッダー
      block header
        include /inc/layout/_header.pug

      //- グローバルナビゲーション
      block global_nav
        include /inc/layout/_global-nav.pug

      //- メインコンテンツ
      block body


      //- フッター
      block footer
        include /inc/layout/_footer.pug

      //- フッターに組み込むスクリプト
      block footer_scripts

        +script('/bower_components/jquery/dist/jquery.js')
        +script('/assets/js/app.js')
        +script('/assets/js/scripts.js')


