include /inc/mixins/_mixins
doctype html
html
    head
        - var id = "top";
        block config
            include /inc/_settings.pug

        meta(charset='UTF-8')

        //- サイトのタイトル
        block title
            if typeof config.pages[id] !== "undefined"
                if id !== "top"
                    title= getPagesValue(id, "title") + " | " + config.site.title
                else
                    title= getPagesValue(id, "title")

        //- メタ情報
        block meta
            meta(name='description', content=getPagesValue(id, "description"))
            meta(name="viewport", content=config.site.viewport)

        //- OGP
        block meta_ogp
            meta(property="og:locale", content=config.site.ogp.locale)
            meta(property="og:type",content=config.site.ogp.type)
            meta(property="og:title", content=getPagesValue(id, "title"))
            meta(property="og:description", content=getPagesValue(id, "description") )
            meta(property="og:url", content=config.site.ogp.url + "/" + id + "/")
            meta(property="og:site_name", content=config.site.ogp.site_name)
            meta(property="og:image", content=config.site.ogp.image)

        //- リンクファイル
        block link
            link(rel='icon', href=config.favicon)
            link(rel='shortcut icon', href=config.favicon)
            link(rel='apple-touch-icon', href=config["apple-touch-icon"])


        //- スタイルシート
        block stylesheet
            link(rel='stylesheet', href="/assets/css/style.css")

        //- ヘッダーに組み込むスクリプト
        block head_script

    body(class=bodyClass)

        //- スマホメニューのボタン
        a(href="#").slidebar-button.js-slidebar-button
            i.fa.fa-bars
            span メニュー


        .slidebar-menu.js-slidebar-menu
            ul
                each item in config.pages
                    li
                        a(href="/" + item.name + ".html")= item.title

        //- スマホメニュー用のコンテナ
        .slidebar-container.js-slidebar-container
            //- ヘッダー
            block header
                include /inc/layout/_header.pug

            //- グローバルナビゲーション
            block global_nav
                include /inc/layout/_global-nav.pug

            //- メインコンテンツ
            block body


            //- フッター
            block footer
                include /inc/layout/_footer.pug

            //- フッターに組み込むスクリプト
            block footer_scripts

                script(src='/bower_components/jquery/dist/jquery.js')
                script(src='/assets/js/app.js')
                script(src='/assets/js/scripts.js')


