doctype html
html
    head

        meta(charset='UTF-8')

        //- サイトのタイトル
        block title
            title #{general.title}

        //- メタ情報
        block meta

            meta(name='description', content=general.description)
            meta(name='keywords', content=general.keywords)
            meta(name="viewport", content=general.viewport)

        //- OGP
        block meta_ogp
            meta(property="og:locale", content=general.ogp.locale)
            meta(property="og:type",content=general.ogp.type)
            meta(property="og:title", content=general.ogp.title)
            meta(property="og:description", content=general.ogp.description )
            meta(property="og:url", content=general.ogp.url)
            meta(property="og:site_name", content=general.ogp.site_name)
            meta(property="og:image", content=general.ogp.image)

        //- リンクファイル
        block link
            link(rel='icon', href=general.favicon)
            link(rel='shortcut icon', href=general.favicon)
            link(rel='apple-touch-icon', href=general["apple-touch-icon"])


        //- スタイルシート
        block stylesheet
            // build:css assets/css/vendor.css
            // bower:css
            // endbower
            // endbuild
            each stylesheet in assets.styles
                link(rel='stylesheet', href=stylesheet)

        //- ヘッダーに組み込むスクリプト
        block head_script



    body(class="#{bodyClass}")

        //- ヘッダー
        block header
            include ../layout/_header

        //- メインコンテンツ
        block body
            | Grow Template

        //- フッター
        block footer
            include ../layout/_footer

        //- フッターに組み込むスクリプト
        block footer_scripts
            //- wiredep で bower で管理しているファイルを自動的に読み込み


            // build:js assets/js/vendor.js
            // bower:js
            script(src='/bower_components/jquery/dist/jquery.js')
            // endbower
            // endbuild


            // build:js assets/js/scripts.js
            each script in assets.scripts
                script(src=script)
            // endbuild

