include /inc/mixins/_mixins.pug
doctype html
html(lang="ja")
  head
    block config
      include /inc/_settings.pug

    meta(charset='UTF-8')
    //- サイトのタイトル
    block title
      if current.id == "top"
        title= config.site.title
      else
        title= (current.title + '｜' + config.site.title)
    //- メタ情報
    block meta
      -
        var desc = false
        if (current.description)
          desc = current.description
        else if ( getPagesValue(current.id, "description") )
          desc = getPagesValue(current.id, "description")
        else
          desc = config.site.description
      meta(name='description', content=desc)
      meta(name="viewport", content=config.site.viewport)

    //- OGP
    block meta_ogp
      meta(property="og:locale", content=config.site.ogp.locale)
      meta(property="og:type",content=config.site.ogp.type)
      meta(property="og:title", content=getPagesValue(current.id, "title"))
      meta(property="og:description", content=getPagesValue(id, "description") )
      meta(property="og:url", content=config.site.ogp.url + "/" + current.id + "/")
      meta(property="og:site_name", content=config.site.ogp.site_name)
      meta(property="og:image", content=config.site.ogp.image)

    //- リンクファイル
    block link
      +link("/assets/images/favicon.ico")(rel='icon')
      +link("/assets/images/favicon.ico")(rel='shortcut icon')
      +link("/assets/images/web-clipicon.png")(rel='apple-touch-icon')

    //- スタイルシート
    block stylesheet
      +link("/assets/css/style.css")(rel="stylesheet")
      +link("/assets/css/app.css")(rel="stylesheet")

    //- ヘッダーに組み込むスクリプト
    block head_script

  body(class!=current.bodyClass)

    //- スマホメニューのボタン
    a(href="#").c-slidebar-button.js-slidebar-button
      span.c-slidebar-button__line
        span
        span
        span
      span.c-slidebar-button__text MENU
    .c-slidebar-menu.js-slidebar-menu.is-top-to-bottom
      ul
        li: +a("/") ホーム
        li: +a("/features/") 当社の強み
        li: +a("/facility/") 主要設備
        li.c-slidebar-menu__parent.js-accordion
          span(data-accordion-title="menu-title") 商品案内
          ul.c-slidebar-menu__children(data-accordion-content="menu-text")
            li: +a("/products/01/") 電池
            li: +a("/products/01/") 時計部品
            li: +a("/products/01/") 工具
            li: +a("/products/01/") セミナー教育
        li: +a("/cases/") 修理事例
        li.c-slidebar-menu__parent.js-accordion
          span(data-accordion-title="menu-title") 採用情報
          ul.c-slidebar-menu__children(data-accordion-content="menu-text")
            li: +a("/recruit/message/") 代表ご挨拶
            li: +a("/recruit/interviews/") 先輩社員の声
            li: +a("/recruit/jobdescripton/") 仕事内容
            li: +a("/recruit/education-and-training/") 教育と研修
            li: +a("/recruit/requirements/") 募集要項
            li: +a("/recruit/entry/") 応募エントリー
        li: +a("/company/") 会社案内
        li: +a("/news/") お知らせ
      a(href="tel:045-581-7111").c-slidebar-menu__tel
        span <i class="fa fa-phone" aria-hidden="true"></i>045-581-7111
        <small>受付時間 : 10：00～16：00</small>
      .c-slidebar-menu__button
        a(href="/contact/").c-button.is-xlg.is-icon.is-accent
          span お問い合わせ
          i.fa.fa-chevron-circle-right



    block layout

    //- フッターに組み込むスクリプト
    block footer_scripts
      +script('/assets/js/app.js')
